// Summary

.bookingsummary {
	background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
	color: #ffffff;
	// max-height: 500px;
	// @include transition(.05s linear);	
	button {
		margin-top:15px;	
	}
	.mod__booking--summary {
		&-button {
			padding: 0 15px;
		}
	}	
		
	&.affix {
		z-index: 9909;
		top:49px;
		>div {
			background:  linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
		}


		.mod__booking--summary {
			&-button {
				padding: inherit 0;
			}
			max-height: 600px;
			// @include transition(.05s linear);	
		}
	}

	&.sticky-element {
		width: 100%;
		top:0;
		@include transition(2s linear);
		&.unstuck {

			.mod__booking--summary {

				max-height: 0;	
				overflow: hidden;
				//@include transition(max-height 2s ease-out);
				
			}
		}

		&.stuck {
			background: url("/images/mobile/backgrounds/bg_new-york-dusk-v2.jpg") no-repeat;
			background-size: cover;
			position: fixed;
			z-index: 999;
			// opacity: 1;
			top: 51px;
			
			//@include translate3d(0, 0, 0);
			

			.mod__booking--summary {
				opacity: 0;
				max-height: 0;	
				overflow: hidden;
				@include transition(.3s linear);	
				
			}

			@include transition(.3s linear);	
			
		}
	}

	@media (min-width: $screen-md-min) {
		position: relative;
		max-width: 1170px;
		margin: 0 auto;
		padding: 15px 0 25px;
		margin-bottom: 30px;
	}
}

.mod__booking {
	&--summary {
		// margin-bottom: 20px;
		font-size: 12px;
		@include make-row();
		color: #ffffff!important;
		p.title {
			@include make-xs-column(12);
			font-weight: normal;
		}

		@media (min-width: $screen-sm-min) {
			font-size: 16px;
			p.title {
				font-size: 16px;
			}
		}
		dl {

			@include make-xs-column(12);
			padding: 0;
			dt {
				@include make-xs-column(2);
				@media (min-width: $screen-sm-min) {
					@include make-sm-column(1);
					text-align: left;
				}
			}
			dd {
				@include make-xs-column(9);
				float:right;
				@media (min-width: $screen-sm-min) {
					@include make-sm-column(11);
					float: none!important;
					text-align: left;
					margin-left: 82px;
					
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
			
		}
		
		.list-group {
			padding: 0 10px;
			@include clearfix();
			.list-group-item {
				@include make-xs-column(6);
				padding: 2px 7.5px;
			}
		}
		&--toggle {

			padding: 0 15px;
			overflow: hidden;
			// max-height: 0;
			// opacity: .5;
			// visibility: hidden;
			@include transition(.9s ease-out);	

			&.in {
				max-height: 200px;
				opacity: 1;
				visibility: visible;
				@include transition(.9s ease-in-out);	
			}

		}
	}
	
	&--summary-vehicle {

		dt {
			position: relative!important;
			width: 25%!important;
			padding-right: 0!important;
		}
		dd {
			img {
				position:absolute!important;
			}
		}

	}

	&--summary-button {
		margin-bottom: $default-margin-bottom;
		@include make-xs-column(12);
		.btn {
			font-weight: bold;
			.icon {
				position: relative;
    			top: 4px;
    			left: 5px;
				font-size: 16px;
				color: #ffffff !important;
				&.icon-HT_lrg-chevron-down {
					color: #ffffff !important;
				}
			}
		}
		@media (min-width: $screen-sm-min) {
			@include make-sm-column(4);
			position: absolute;
			right: 15px;
			bottom: 0;
		}
	}
	
}

.newbooking-index { // body
	
	.mod__booking--checkout {
		padding-top: 15px;
		background: #ffffff;

		&-summary {
			color: $gray-darker!important;		
			@media (min-width: $screen-sm-min) {
				position: relative;
				dl:last-child { // mod__booking--summary-vehicle
					position: absolute;
				    left: 50%;
				    width: 50%;
					dt {
						width: 50%!important;
					}
				    dd {
				    	//position: absolute;
				    	strong {
				    		padding-left: 15px;	
				    	}
				    	

				    }
				}

				.mod__booking--summary {
					&-button {
						display: none;
					}
				}

			}
		}

		&-tDetails {
			@media (max-width: $screen-xs-min) {
    			@include clearfix();
    			margin-bottom: 10px;
			}
		}
		&-vDetails {
			@media (min-width: $screen-sm-min) {
				position: absolute;
				width: 50%;
				right: 0;
				top: 35px;

				dd {
					position: absolute;
				}

				.list-group.mod__booking--summary--toggle {
					float: right;
					overflow: visible;
				    max-height: 999px;
				    opacity: 1;
				    visibility: visible;
				    width: 50%;
				    .list-group-item {
				    	width: 100%;
				    }	
				}
			    
			}
		}
	}
}

