@mixin mod__travellers () {
	display:none;
	opacity: 0;

	margin-left: -5px!important;
	margin-right: -5px!important;
	
	@include make-row();

	.peoples {

		.form-group {
			@include make-xs-column(4);
			padding-left: 5.5px;
			padding-right: 5.5px;
			position: relative;
			
			label {
				position: absolute;
				font-size: 13px!important;
				position: absolute;
    			left: 6px;
    			@media (min-width: $screen-md-min) {
	    			top: -15px;
	    		}
			}
			.select-90deg {
				margin-top: 25px;
			}

			&:nth-child(2) {
				label {
					left: 3px;
				}
			}

			@media (min-width: $screen-md-min) {
				@include make-md-column(4);	
			}
		}

	}

	@media (min-width: $screen-md-min) {
		
		display:block;
		opacity: 1;

		float:left;
		width: 25%;	
		
		position: relative;
    	padding-left: 0;
    	left: -9px;
    	top: -25px;
	}
}


