header,
header.header {

	@include clearfix();
	@include box-shadow(0px 14px 22px -14px #393A46);
	@include make-lg-column(12);
	
	height: 50px;
	position: fixed;
	z-index: 1090;
	width: 100%;
	top: 0;

	background: $blue;


	&__topLogo{

		//@extend .col-xs-10;

	}

	&__topLogo--first{

		
	}

	&__topLogo--second{

		
	}

	&__topNavigation{

		// @extend .col-xs-2;
		
	}

}

@media (min-width: $screen-sm-min) {
  
  .header {  
    background: $blue;

  }
}