@import 'public/htx/sass/_htx-variables';

@import 'public/htx/sass/htx-fonts';

@import 'public/htx/sass/_mixins';

@import 'public/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';

@import 'public/htx/sass/_template';

@import 'public/htx/sass/_header';

@import 'public/htx/sass/_menu';

@import 'public/htx/sass/_htx-dropdowns';

@import 'public/htx/sass/_htx-button';

@import 'public/htx/sass/_htx-navs';

@import 'public/htx/sass/_htx-navbar';

@import 'public/htx/sass/_htx-list-group';

@import 'public/htx/sass/_input-groups';

@import 'public/htx/sass/_forms';

@import 'public/htx/sass/_type';

@import 'public/htx/sass/_panels';

@import 'public/htx/sass/_spritesmith';

@import 'public/htx/sass/_icons';
// Required for _spritesmith variables

@import 'public/htx/sass/_bootstrap-datetimepicker';

@import 'public/htx/sass/_datepicker';

@import 'public/htx/sass/_passengers';

@import 'public/htx/sass/_vehicles';

@import 'public/htx/sass/_wells';

@import 'public/htx/sass/_carousel';

@import 'public/htx/sass/_labels';

@import 'public/htx/sass/_loader';

@import 'public/htx/sass/_search';

@import 'public/htx/sass/_fallback';


// PARTIALS
@import 'public/htx/sass/partials/_panel-form';
@import 'public/htx/sass/partials/_results';
@import 'public/htx/sass/partials/_static';
@import 'public/htx/sass/partials/_currency';
@import 'public/htx/sass/partials/_languages';
@import 'public/htx/sass/partials/_banner';
@import 'public/htx/sass/partials/_why-book';
@import 'public/htx/sass/partials/_notification';
@import 'public/htx/sass/partials/_booking-summary';
@import 'public/htx/sass/partials/_total-cost';
@import 'public/htx/sass/partials/_lead-passenger';
@import 'public/htx/sass/partials/_payment-type';

@import 'public/htx/sass/partials/_mod-info';
@import 'public/htx/sass/partials/_contact';

@import 'public/htx/sass/partials/_com_new-booking';


//
//
// Custom styles. Create custom SASS files as neccessary

.shrink-text{
	font-size: ceil(($font-size-base * 0.5));
	padding: 5px 0;
}


// UI-autocomplete
//TODO - create scss file (@import _ui-autocomplete.scss)

.pickupOptions,
.dropoffOptions
{
	width: 100%;
	padding: 0;
	// margin: 0 -2.5%;
	background-color: #ffffff;

	.ui-autocomplete {
		width: 99%;
		border: none;
		border-radius: 0;
		left: 0;
	}

	li.ui-menu-item a {
		
	}

	.ui-menu-item a.ui-state-focus {
		background-color: #bfcfe1;
	}

	ul.ui-menu.ui-widget {

		padding: 0;
		border-top: 2px solid $gray-darker;

		li.ui-menu-item {
			
			border-bottom: 1px solid $gray-lighter;

			a {

				background-image: none;
				border: none;
				border-radius: 0;
				height: 1%;
				line-height: 30px;
				padding: 0 10px;
				cursor: pointer;
				color: #666666;
				overflow: hidden;

				padding-top: $padding-list-vertical;
				padding-bottom: $padding-list-vertical;
			}

		}	
	}
}

span.text_highlight {
	font-weight:bold;
	color:#0060AB;
}
span.secondary_highlight {
	font-weight:normal;
	color:grey;
	font-size:95%;
}

.has-error {
	#pickup_name {
		&::-webkit-input-placeholder {
			color: $error-colour
		}
	}

	#dropoff_name {
		&::-webkit-input-placeholder {
			color: $error-colour
		}
	}
}

#pickup_name {
	width: 90%;

	&::-webkit-input-placeholder {
	   font-size: 12px;
	   padding-top: 1px;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   font-size: 12px;
	   padding-top: 1px;  
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   font-size: 12px;
	   padding-top: 1px;  
	}

	&:-ms-input-placeholder {  
	   font-size: 12px;
	   padding-top: 1px;  
	}
}

#dropoff_name {
	width: 90%;

	&::-webkit-input-placeholder {
	   font-size: 12px;
	   padding-top: 1px;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   font-size: 12px;
	   padding-top: 1px;  
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   font-size: 12px;
	   padding-top: 1px;  
	}

	&:-ms-input-placeholder {  
	   font-size: 12px;
	   padding-top: 1px;  
	}
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */


#reset-pickup, #reset-dropoff {
    float: none;
    height: 20px;
    width: 10%;
    cursor: pointer;
    background: #fff url('/images/default/general/places-x.png') no-repeat center center /15px 15px;
    position: absolute;
    height: 100%;
    right: 0;
}


.noTopMargin {
	margin-top:0;
	padding-top: 91px;
	@media (min-width: $screen-sm-min) {
		padding-top: 140px;
	}
	
}

.com__info-banner + .noTopMargin {
	@media (min-width: $screen-sm-min) {
		padding-top: 91px!important;
	}
	
}

#errors .errors p {
	text-align: center;
	color: $brand-danger;
	font-weight: bold;
}

select.form-control {
	padding: 6px;
}

.faq_question {
	padding: 0 0 5px 0;
}

iframe[name='google_conversion_frame'] { 
    height: 0 !important;
    width: 0 !important; 
    line-height: 0 !important; 
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}