.mod__result {
  @include make-row();  
  
  @media (min-width: $screen-md-min) {
    margin-left: 0;
    margin-right: 0;
    float: left;
    width: 50%;
  }
  
  >.wrapper{
    @include make-xs-column(12);

    @media (min-width: $screen-md-min) {
      padding-left: 0;
    }

    .panel {
      position: relative;
      overflow: hidden;
      h2 {
        margin-top: 0;
        font-size: 22px;
        font-weight: bold;
      } 
      p {
        font-size: 14px;
      }

      button.close {
        position: absolute;
        top: 5px;
        right: 10px;
        z-index: 10;
      }
    }
    .panel-heading {
      border-bottom: none;
      h1 {
        font-size: 14px;
        font-weight: bold;
      }
      padding-bottom: 0;
      padding-top: 0;
    }   
    
    .js-total-price {
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
      font-size: 18px;
    }
    
    .panel-body {
      @include make-row();
      padding-top: 0; 
    }   
    
    .panel-footer {
      font-size: 14px!important;
      position: relative;
      z-index: 9;
      + .btn {
        position: relative;
        z-index: 9;
      }
    }
  }   
  
  &--wrapper {
      opacity: 1;
      @include transition(.3s linear);
      // @include translate3d(0, 0, 0);
    // @include transition-transform(0.6s ease-in-out); 

    &.noShow {
    opacity: 0;
    // max-height: 0;
    // overflow: hidden;
    @include transition(.1s linear);
    // @include translate3d(0, -100%, 0);
    
    }
  }

  &--split {
    @include make-xs-column(6);
    padding: 0;
    @media (min-width: $screen-md-min) {
      width: 65%;
    }
    h3 {
      margin-top:0;
      margin-left:15px;
      
      small {
        display: table-cell;
        color: inherit;
        font-size: 13px;
      }
    }
    &:nth-child(2) {
      float:right;  
      @media (min-width: $screen-md-min) {
        width: 35%;
      }
    }

    .icon:before {
      padding-right: 7.5px;
    }

    li {
      padding: 0 7.5px 10px;
      font-size: 13px;
    }
    
    .product-img {
      margin: 10px 5px;
    }
  }

  a {
    color: $gray-dark;
    &:hover,
    &:active,
    &:focus {
      color: $gray-dark;

      &.btn {
          white-space: normal;
          text-align: left;
      }
    }
  }

  &--more-info {
    color: $gray-dark;
    padding: 10px 0;
    text-align: center;
  }

  footer {
    padding:0;
  }

  &--description {
    
    @include make-xs-column(12);

    max-height: 0;
    overflow: hidden;
    position: absolute;
    padding: 15px;
    z-index: 9;
    background: #ffffff;
    overflow-y: auto;
    top: 0;
    opacity: 0;

    // @include translate3d(0, 20%, 0);
    @include transition(.3s linear);
    
    &.show {
      // @include translate3d(0, -90%, 0);
      opacity: 1;
      max-height: 100%;
      @include transition(.3s linear);
    }

  }
  
  &--vehicles {
    clear:both;
    width: 100%;
    padding-left: 15px;
    label {
      float: left;
        margin-right: 10px;
        margin-top: 10px;
    }
    .select-90deg {
      float: left;
      border: 1px solid #d2e4c9;
      width: 20%;
    }
  }

  &--padding {
    padding-top:15px;
  }
  
}// Results

@media (min-width: $screen-md-min) {
  .mod__result {
    .panel-heading {
      min-height: 65px;
    }
    .panel-body {
      min-height: 280px;
    }
    footer {
     min-height: 40px; 
    }
  }
}