.com__info-banner {

    margin-top: 50px;
    position: fixed;
    width: 100%;
    z-index: 10;
    .well {
      background-color: #ffffff;
      margin-bottom: 0;
      padding: 10px;
    }

    .icon {

      vertical-align: middle;
      vertical-align: -webkit-baseline-middle;
      position: absolute;
      left: 25px;

      &:before {
        color: $blue;
        font-size: 30px;
      }
    }

    .title {
      @include emphasiseFont(20px);
      color: $blue;
      position: relative;
    }

    &--message {
      font-size: $font-size-base;
    }
  }