/* Currency */
.mod__languages {
  
  .languages__item {
    @media (min-width: $screen-sm-min) {
        @include make-sm-column(4);
      }

      a {
        color: #444444;
        @media (min-width: $screen-sm-min) {
          padding: 10px 0;
        }
      }

      @media (min-width: $screen-md-min) { // Psuedo on li's
        &:hover,
        &:active,
        &:focus {
          background: $blue-lighter;
        }
      }
    
      
  }

}

.js-dropdown.mod__languages {

  .dropdown-menu {

    padding: 0;

    @media (min-width: $screen-sm-min) {
      width: 750px;
      left: -685px;
      position: absolute;

      // @include make-row();
      .dropdown-header {
        display: block;
        color: $blue-dark;
        @include emphasiseFont($font-size-medium);
        margin-top: 15px;
      }
    }
  }
  color: white;
  button.btn-static-state {
    color: white;
    &:hover,
    &:active,
    &:focus {
      color: white;
      @media (min-width: $screen-sm-min) {
        background: $blue-lighter;
      }

    }
    .icon.icon-HT_sml-chevron-down,
    .icon.icon-HT_sml-chevron-up {
      color: white;
      &:before{
        font-size: 8px; 
      }
      
    }
  }
  
  @media (min-width: $screen-md-min) {
    &.dropdown__adjacent {

      &.open {
        display: block;
      }
      > button {
        max-height: 50px;
        max-width: 71px;
        height: 50px;
        margin-top: -5px;

        &:hover,
        &:focus,
        &:active {
          background: $blue-light;
        }
      }
    }
  }
}

.js-dropdown.mod__languages {

  .dropdown-menu {
    @media (min-width: $screen-sm-min) {
      // @include make-row();
      
    }
  }
}

