.mod__notification {
	display:none;
	opacity: 0;
	background-color: $blue;
	@media (min-width: $screen-md-min) {
		max-width: 1170px;
		width: 100%;
		color: #ffffff;
		position: absolute;
		bottom: -60px;
		left: 0;
		padding: 15px;
		&--text{
			margin-bottom: 0;
			.icon {
				margin-right: 10px;
				vertical-align: middle;
				vertical-align: -webkit-baseline-middle;
				&:before {
					font-size: 30px;
				}
			}
			@include emphasiseFont(16px);
		}

		.close {
			position: absolute;
			right: 15px;
			top: 15px;
			color: #ffffff;
		}
	}
}