

main {

  .mod__{

    &panel--form {

      .panel 
      .panel-body {
        padding-bottom: 0!important;

      }

      .panel-footer {
        padding: 0 15px 10px 15px!important;
        border-top: none;
        .default_button {
          &:nth-child(1) {
            margin-bottom: 10px;
          }
        }
      }

      legend {
        float:left;
        border: none;
        margin-bottom: 0;
        font-weight: 800;
        &.panel-heading {
          margin-top: 0;
        }
      }

      label {
        font-weight: 400;
      }

      .form-control {
        background-color: $gray-lighter;
        margin-bottom: 0;
      }

      footer {
        background-color: $body-bg;
        border-top: $body-bg;
      }
      &-padding {
        padding-top: 15px;
      }

    }
  }

}
