// Why book
.mod__info {
    &.well {
      @media (min-width: $screen-md-min) {
        display: block;  
      }
      
    }

  &--why-book {

    @media (max-width: $screen-xs-min) {
      padding: 0;
    }
    
    .heading {
      margin-top:0;
      font-size:20px;

      @media (min-width: $screen-md-min) {
        margin-top: 15px;
      }
    }
    
    & {
      .mod__info--list-item {
        @media (min-width: $screen-md-min) {
          @include make-md-column(3);
          @include clearfix();
          min-height: 65px;
          font-size: $font-size-base;
          padding:10px;

          .icon:before {
            top: 5px;
          }

        }
      }
    }
  }

}