.affcode-htx{

	.currency {

		// Bootstrap dropdown styling
		&__header{
		

			width: 100%;
			text-align: left;

			&--icon {

				position: absolute;
				right:1em;
				top:1em;

			}

		}

		&__items {

			width: 100%;

		}

		


	}
	
}