.comp__search-fallback {

	color: white;

	&--bg {

		background: linear-gradient(
	      rgba(0, 0, 0, 0.55), 
	      rgba(0, 0, 0, 0.55)
	    ),
	    /* bottom, image */
	    url("/images/mobile-landing-bg.jpg") no-repeat;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	}

	.title {
		margin-top:15px;
		@include emphasiseFont(12px)
	}
	
	fieldset {

		@media (min-width: $screen-md-min) {
			@include make-md-column(4);
			&:nth-child(2){
				
			}
		}

		label {
			color: $label-color;
			@media (min-width: $screen-sm-min) {
				width: 25%;
				margin-right: 10%;
				vertical-align: middle;

				+ div {
					display: inline-block;
					width: 60%;
					margin-left: 14px;
					vertical-align: middle;
				}
			}
		}
		

		legend {

			@include make-xs-column(12);
			margin-left: 15px;
			margin-right: 15px;
			padding-left:0;
			padding-right:0;
			width: 90%;
			color: #ffffff;
			@media (min-width: $screen-xs-min) {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
				margin-bottom: 15px;
			}

		}

		.form-group,
		.collections {
			@media (max-width: $screen-xs-min) {
				@include make-xs-column(12);		
			}

		}
		
		&.mod__dates {
			margin: 0;
			display: block!important;
			opacity: 1!important;
			
			.arrivaldatetime,
			.departuredatetime {

				.mod__dtp {
					@media (min-width: $screen-md-min) {
						width: 293px;
						right: 0!important;
						left: inherit;

						.continue-button {
							margin-bottom: 15px;
						}
					}
				}

				@media (min-width: $screen-md-min) {
					width: 100%;
				}
				.form-group {
					@media (min-width: $screen-md-min) {
    					float: none;
				    	padding: 0;	
				    	&.mod__dtp--time,
				    	&.mod__dtp--date {
				    		float: left!important;
    						padding: 15px 15px 0!important;
    						margin-bottom: 0;
				    	}
				    	&.mod__dtp--date {
    						label {
    							width: 100%;
    							+ div.returndatepicker {
    								width: 100%;
    								margin-left: 0;
    							}
    						}
				    	}
				    }
				
					.input-group.js-open-datepicker-section {
						@media (max-width: $screen-xs-min) {
							width: inherit;
						}
					}

					&:nth-child(1) {
					//	@include make-xs-column(6);		
					}

					&:nth-child(2) {
					//	@include make-xs-column(6);	

						.select-90deg{
						//	@include make-xs-column(6);							
						}
					}

					// &:nth-child(3){
					// 	@include make-xs-column(3);		
					// }
		
				}
				
			}
		}
		

	}

	.mod__travellers {

		margin-left: 0 !important;
    	margin-right: 0 !important;

		@media (max-width: $screen-xs-min) {
			display: block;
			opacity: 1;
			.peoples {
				@include make-xs-column(12);		
				clear: both;
			    display: table;
			    margin: 0 auto;
			}
		}

		@media (min-width: $screen-sm-min) {
			legend {
				margin-bottom: 30px;
			}
			top:0;
			left: 0;
		}
	
		.peoples .form-group {
			label {
				@media (min-width: $screen-sm-min) {
					min-width: 70%;
					left:7%;
					vertical-align: middle;
				}
			}
			&:nth-child(1) {
				padding-left: 0;
			}
			&:nth-child(3) {
				padding-right: 0;
			}
		}
	}

	footer {
		@include make-row();
		@include center-block();
		
		.btn {			
			@include make-xs-column(12);
			margin-bottom: 10px;
		}
		@media (min-width: $screen-sm-min) {
			@include make-sm-column(4);
			@include make-md-column(4);
			position: absolute;
    		right: 0px;
    		bottom: 0;
		}
	}


}// Search - fallback