.btn {
	border: none;
	outline: none!important;
	.icon-HT_lrg-chevron-down {
		color: $blue-darker;
	}

	&:active,
	&:focus,
	&:hover {
		@include box-shadow(none);
	}
}

.btn-static-state {
	// @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
	$background: $body-bg;
	$color: $link-color;
	$border: transparent;

	@include button-size($padding-base-vertical, $padding-large-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
	@include button-variant($color, $background, $border);
	
	&:focus,
	&.focus {
	color: $color;
	background-color: $blue-light;
	    border-color: darken($border, 25%);
	}
	&:hover {
	color: $color;
	background-color: $blue-light;
	@media (min-width: $screen-md-min) {
		background-color: $blue-lighter;
	}
	    border-color: darken($border, 12%);
	}
	&:active,
	&.active,
	.open > &.dropdown-toggle {
	color: $color;
	background-color: $blue-light;
	
	@media (min-width: $screen-md-min) {
		background-color: $blue-lighter;
	}
	

	border-color: darken($border, 12%);

	&:hover,
	&:focus,
	&.focus {
	  color: $color;
	  background-color: $blue-light;
	  @media (min-width: $screen-md-min) {
		background-color: $blue-lighter;
	}
	      border-color: darken($border, 25%);
	}
	}
	&:active,
	&.active,
	.open > &.dropdown-toggle {
	background-image: none;
	}

	.description {
		margin-left: 25px;
		text-transform: uppercase;
	}

}

button,
input {
	&.btn {
		text-transform: uppercase!important;
	}
}

button{
	&.close {
	opacity: 1;
		span {
			font: $gray-base;
			font-weight: normal;
			font-size: 24px;
        	top: 5px;
        	right: 10px;
		}	
	}	
}

.btn-secondary {
  @include button-variant($light, $blue-light, $blue-light);
}
