.affcode-htx{

	nav {

		background-color: $blue-darker;
		width: 100%;

	}

	.nav {

		>li {

			>a {

				background-color: $blue-dark;

			}

		}
	}

	// Stacked pills
	.nav-stacked {
		> li  + li {
			margin-top: 15px;
		}
	}
}
