/*
*
* Datetime picker
*/

.com__vehicles { // Datetime picker
	color: $text-color;
	// height: 0;
	width: 100%;
	overflow: hidden;
	background-color: $body-bg;
	left: 0;

	//height: 85%;
	position: fixed;
	top: 50px;
	// bottom: 10%;
	//display: table;
	z-index: 999;
	//opacity: 0;
	@include translate3d(100%, 0, 0);
	@include transition-transform(.9s ease-out);	
	
	&--header {
		padding-top: 10px; // nested legend hits top 
		@include make-xs-column(12);
		background: $gray-light;
		margin-bottom: 15px;
	}

	&.vehicles-section-show {
		z-index: 999;
		@include translate3d(0, 0, 0);
		@include transition-transform(0.6s ease-in-out);	
	}

	.form-group:nth-child(1) {
		float:left;
	}

	fieldset {
		@include make-row();
	}

	.form-group{
		@include make-xs-column(12);
		border-bottom: 1px solid $gray-light;
		padding-bottom: 15px;
		label {
			position: absolute;
    		top: 25%;
		}
		.input-group {
			width: 45%;
			float:right;
			border: 1px solid $gray-light;
			.form-control {
				width: 40%;
				float:none;
			}
			.btn {
				font-size: 20px;
    			font-weight: bold;
    			min-width: 35px;
			}
			[data-increment]{
				float:right;
			}
		}
	}

	&--time {
		background-color: $component-active-bg;
		padding:$padding-large-vertical $padding-large-horizontal;
		
	}

	&--min {
		.select-90deg {
			@include make-xs-column(3);	
			float:right;
			padding: 0 $padding-xs-horizontal;
		}
		span { // The colon divide
			position: relative;
			left: 10px;
			top: 5px;
		}
	}

	&--hour {
		label {
			@include make-xs-column(5);	
			padding: $padding-base-vertical 0;
			color: $gray-darker!important;
		}

		.select-90deg {
			@include make-xs-column(3);	
			padding: 0 $padding-xs-horizontal;
		}
		
	}

	&--date.form-group {
		@include make-xs-column(12);
		label{color: $gray-darker}
	}

	&.vehicles-section-show {
		// height: 300px;

		&.js-places-search-form {
			height: 464px;
		}
	}
	
	&--summary {
		font-size: 12px;
	}
}
		
.selected-date-time {
	height: 0;
	width: 100%;
	overflow: hidden;
	@include transition(height 200ms ease-out);

	&.show-selected-date-time {
		height: 20px;
	}
}
