@import 'public/assets/sass/_htx-variables';

@import 'public/assets/sass/htx-fonts';

@import 'public/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';

@import 'public/assets/sass/_template';

@import 'public/assets/sass/_header';

@import 'public/assets/sass/_menu';

@import 'public/assets/sass/_htx-dropdowns';

@import 'public/assets/sass/_htx-button';

@import 'public/assets/sass/_htx-navs';

@import 'public/assets/sass/_htx-navbar';

@import 'public/assets/sass/_htx-list-group';

@import 'public/assets/sass/_spritesmith';

@import 'public/assets/sass/_icons'; // Required for _spritesmith variables


//
//
// Custom styles. Create custom SASS files as neccessary

/* Currency */
.currency {
	
	.list-group>li>.list-group {
		border-top: 2px solid $gray-dark;
		margin-bottom:0;
	}

	.list-group{
		margin-bottom: 0;
	}

	.dropdown-menu{
		background-color: $gray-lighter;
	}

}

.shrink-text{
	font-size: ceil(($font-size-base * 0.5));
	padding: 5px 0;
}



